venv/
__pycache__/
results/
*.pyc
data/house_price.csv
models/
metrics/metrics.json
metrics/predictions.csv
metrics/pred_vs_true.png
metrics/residuals.png
reports/
test_data/
venv/
__pycache__/
.dvc/config.local
.dvc/gdrive-creds.json
gdrive_user_credentials.json
data/processed/processed_data.csv


