name: ML CI/CD with CML (Docker)

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  cml-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      #  Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install CML
        run: npm install -g @dvcorg/cml
      #  Set up Docker container
      - name: Build Docker image
        run: |
          docker build -t house_price_mlops .

      #  Run training in Docker
      - name: Train model inside Docker
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/app \
            -w /app \
            house_price_mlops \
            python -m src.train

      #  Run evaluation inside Docker
      - name: Evaluate model inside Docker
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/app \
            -w /app \
            house_price_mlops \
            python -m src.evaluate

      #  Generate plots inside Docker
      - name: Generate plots inside Docker
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/app \
            -w /app \
            house_price_mlops \
            python -m src.plots

      #  Compare metrics inside Docker
      - name: Generate comparison report
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/app \
            -w /app \
            house_price_mlops \
            python -m src.compare
      - name: Debug - List metrics
        run: ls -l metrics

      #  Post CML comment
      - name: Post CML comment
        env:
          REPO_TOKEN: ${{ secrets.CML_GH_TOKEN }}
        run: |
          cml comment create reports/comparison_report.md --publish
